[flake8]
; ignore =
max-line-length = 106
max-complexity = 18
select = B,C,E,F,W,T4,B9

strictness=long
docstring_style=numpy

docstring-convention = numpy
max-string-usages=5
max-arguments=7
max-local-variables=10
max-methods=10
max-noqa-comments=10
