# problem constants:
HARD_CONSTRAINT_PENALTY: 10  # the penalty factor for a hard-constraint violation

# Genetic Algorithm constants:
POPULATION_SIZE: 100
P_CROSSOVER: 0.9  # probability for crossover
P_MUTATION: 0.1   # probability for mutating an individual
MAX_GENERATIONS: 100
HALL_OF_FAME_SIZE: 5
MAX_COLORS: 36

# set the random seed:
RANDOM_SEED:  42
